<h1>UCSB Bookstore Computers</h1>

<% if flash[:success] %>
  <div class="row">
    <div class="col-xs-10 col-sm-8 col-md-6">
      <div class="alert alert-success" role="alert">
        <%= flash[:success] %>  
      </div>
    </div>
  </div>
<% end %>

<!--
<div class="col-xs-6 col-md-3" style="display: block; margin-left: auto; margin-right: auto;">	
	<a href="#" class="thumbnail">
		<img src="images/site_laptop_logo.jpg">
	</a>
</div>
-->