<% if @user.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><font color = "FF0000"><%= msg %></font></li>
            <% end %>
          </ul>
        </div>
<% end %>